{% extends 'vocabulary/base.html' %}

{% block title %}Test yourself{% endblock %}

{% block body %}

<h2>Here you can TEST words you learned.</h2>

<h3>Choose testing method:</h3>
<ul>
    <li> <a href="#"> wybierz ilustrację na podstawie słówka (4 dostępne do wyboru) </a> </li>
    <li> <a href="#"> wybierz słówko na podstawie ilustracji (4 dostępne do wyboru) </a> </li>
    <li> <a href="#"> wybierz poprawne tłumaczenie spośród podanych (3 lub 4 dostępne) </a> </li>
    <li> <a href="#"> uzupełnij zdanie słówkiem tak, aby miało sens (3 lub 4 opcje do wyboru) </a> </li>
    <li> <a href="#"> wybierz poprawne tłumaczenie zdania </a> </li>
    <li> <a href="#"> zestaw kilku wyrazów i wybierz które nie pasuje do reszty </a> </li>
    <li> <a href="#"> wybierz słówko na podstawie słuchu </a> </li>
    <li> <a href="#"> na podstawie słuchu napisz wyraz lub zdanie </a> </li>
    <li> <a href="#"> na podstawie obrazka napisz słowo </a> </li>
</ul>

{% endblock %}
