{% extends 'vocabulary/test_modal_base.html' %}

{% block header %}
    <h3>Read the word description and write it in english:</h3>
{% endblock %}

{% block testing_form %}
    <div>
        <span id="word_to_translate"></span>
        <span id="imageHint">
            <img id="wordImage" src="/static/vocabulary/pictures/words/stamp.jpg" width=150px alt="">
            &nbsp; <img src="/static/vocabulary/pictures/hint.png" height=40px alt=""> &nbsp; HINT - image
        </span>
    </div>
    <form class="form-inline" id="testing_form">
        <div class="form-group">
            <label for="user_translation">Your answer:</label>
            <input type="text" class="form-control" id="user_translation" value="">
        </div>
        <div class="actions">
            <button type="submit" class="btn btn-info" disabled="disabled" id="check_word_button" data-toggle="modal"
                    data-target="#myModal">Check
            </button>
        </div>
    </form>
{% endblock %}
