{% extends 'vocabulary/base.html' %}

{% block title %}Test yourself{% endblock %}

{% block body %}

    {% load static %}

    <h2>Here you can TEST the words you learned.</h2>
    {% block header %}
    {% endblock %}

    {% if categories %}
        <h3>Choose category:</h3>
        {% for cat in categories %}
            <li><a {% block links %}{% endblock %}> <img src="{% static cat.picture %}" height="100px" alt=""/> <br>
                {{ cat }} </a></li>
        {% endfor %}
    {% else %}
        <h3>There are no words in the database</h3>
    {% endif %}

{% endblock %}
