{% extends 'vocabulary/test_modal_base.html' %}

{% block header %}
    <h3>Read the word description and write it in english:
    </h3>
{% endblock %}

{% block testing_form %}
    <div id="word_to_translate"></div>
    <form class="form-inline" id="testing_form">
        <div class="form-group">
            <label for="user_translation">Your answer:</label>
            <input type="text" class="form-control" id="user_translation" value="">
        </div>
        <div class="actions">
            <button type="submit" class="btn btn-info" disabled="disabled" id="check_word_button" data-toggle="modal"
                    data-target="#myModal">Check
            </button>
        </div>
    </form>
{% endblock %}
