{% extends 'vocabulary/test_modal_base.html' %}

{% block header %}
    <h3>
        Listen to the word given in <span id="set_given_lang"></span> and write it in
        <span id="set_to_translate_lang"></span>:
    </h3>
{% endblock %}

{% block testing_form %}
    <div id="word_audio_div">
        <audio controls id="word_to_translate_audio">
            <source src="" type="audio/mpeg"/>
        </audio>
    </div>
    <button id="playAudioButton" class="play" onclick="playAudio()"></button>

    <form class="form-inline" id="testing_form">
        <div class="form-group">
            <label for="user_translation">Your answer:</label>
            <input type="text" class="form-control" id="user_translation" value="">
        </div>
        <div class="actions">
            <button type="submit" class="btn btn-info" disabled="disabled" id="check_word_button" data-toggle="modal"
                    data-target="#myModal">Check
            </button>
        </div>
    </form>
{% endblock %}
