body {
    background-image: url('/static/vocabulary/pictures/giftly_background.png');
}

/* FOR LOGIN FORM */
#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

/*
#next_button{
    display: none;
}

#prev_button{
    display: none;
}
*/
#word_to_translate {
    color: blue;
    font-size: 150%;
}

#repeat_test_button{
    display: none;
}

#testing_form {
    display: none;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

/* END: FOR LOGIN FORM */