body {
    background-image: url('/static/vocabulary/pictures/giftly_background.png');
}

/* FOR LOGIN FORM */
#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#word_to_translate {
    color: blue;
    font-size: 150%;
}

#word_audio_div {
    display: none;
}

#playAudioButton {
    display: none;
}

#playAudioButton {
    height: 80px;
    width: 80px;
    border: none;
    background: url('/static/vocabulary/pictures/play.png') no-repeat center;
    background-size: 80% 80%;
}

#correct_answer {
    color: purple;
    font-weight: bold;
}

#correct_tick {
    display: none;
}

#correct_modal_title {
    display: none;
}

#wrong_cross {
    display: none;
}

#wrong_modal_title {
    display: none;
}

#test_finished {
    display: none;
}

#score {
    color: purple;
    font-weight: bold;
}

#repeat_test_button {
    display: none;
}

#testing_form {
    display: none;
}

@media screen and (min-width: 768px) {
    #myModal .modal-dialog {
        width: 400px;
    }
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}
